<?xml version="1.0" encoding="UTF-8"?>

<launch>
      <arg name="generation"
            default="Si"/>

      <arg name="json_file"
            default="console-Full-System-Teleop.json"/>
      <arg name="launch_rviz"
                  default="true"/>
      <arg name="ros_period"
                  default="0.01"/>

      <!-- rviz -->
      <node name="rviz_patient_cart"
            if="$(arg launch_rviz)"
            pkg="rviz"
            type="rviz"
            args="-d '$(find teleop)/rviz/arms_and_phantom.rviz'"/>


      <node name="dvrk_patient_cart_node"
            pkg="dvrk_robot"
            type="dvrk_console_json"
            args="-j /home/stanford/catkin_ws/src/dvrk/dvrk_config_stanford/$(arg json_file) -p $(arg ros_period)"
            output="screen"/>

      <node pkg="tf2_ros" type="static_transform_publisher" name="ECM_to_camera_tf"
            args="0 0 0 0 0 -0.5236 ECM camera" />

      <node pkg="tf2_ros" type="static_transform_publisher" name="PSM1_to_tool_tip1"
            args="0 0 0 0.7071 0 0 0.7071 PSM1 tool_tip1" />

      <node pkg="tf2_ros" type="static_transform_publisher" name="PSM2_to_tool_tip2"
            args="0 0 0 0.7071 0 0 0.7071 PSM2 tool_tip2" />

      <node pkg="tf2_ros" type="static_transform_publisher" name="cart_to_phantom_omni"
            args="0.1 0 0 0 0 0 base Cart" />

</launch>
