<launch>
    <!-- gscam stands for GStreamer Camera -->
    <node pkg="gscam" type="gscam" name="gscam_right" output="screen">
        <param name="gscam_config" value="decklinkvideosrc device-number=0 ! videoconvert" />
        <param name="camera_name" value="camera_right" />
        <param name="frame_id" value="camera" />
    </node>

    <node pkg="gscam" type="gscam" name="gscam_left" output="screen">
        <param name="gscam_config" value="decklinkvideosrc device-number=1 ! videoconvert" />
        <param name="camera_name" value="camera_left" />
        <param name="frame_id" value="camera" />
    </node>

    <arg name="console" default="false" />

    <!-- Conditionally launch image_view nodes based on the console argument -->
    <node pkg="image_view" type="image_view" name="image_view_left" args="image:=/camera_left/image_raw" output="screen" if="$(arg console)" />
    <node pkg="image_view" type="image_view" name="image_view_right" args="image:=/camera_right/image_raw" output="screen" if="$(arg console)" />

</launch>
