<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="generation"
        default="Si"/>
<arg name="json_file"
        default="console-PSM2.json"/>
<arg name="launch_rviz"
            default="true"/>


  <!-- rviz -->
  <node name="rviz_patient_cart"
      if="$(arg launch_rviz)"
        pkg="rviz"
        type="rviz"
        args="-d $(find teleop)/rviz/arms_real_rviz.rviz"/>


  <node name="dvrk_patient_cart_node"
        pkg="dvrk_robot"
        type="dvrk_console_json"
        args="-j /home/stanford/catkin_ws/src/dvrk/dvrk_config_stanford/$(arg json_file) -p 0.005"
        output="screen"/>

<node pkg="tf2_ros" type="static_transform_publisher" name="ECM_to_camera_tf"
      args="0 0 0 0 0 -0.5236 ECM camera" />

<node pkg="tf2_ros" type="static_transform_publisher" name="PSM1_to_camera_tf"
      args="0 0 0 0 0 -1.57079 PSM1 tool_tip" />

  <!-- added fixed tf to make sure dVRK console TF are defined wrt world -->
  <!-- <node name="tf_world_to_cart"
        pkg="tf2_ros"
        type="static_transform_publisher"
        args="0 0 0.1678 0 0 0 world Cart" /> -->

  <!-- added fixed tf to make sure dVRK console TF are defined wrt world-->
  <!-- <node name="tf_world_to_cart"
        pkg="tf2_ros"
        type="static_transform_publisher"
          args="0.3278 0.163 0.2111 -0.0472 0.0259 0.2126 0.9757 world Cart"/>  -->


     <!-- <args="-0.0292 -0.1710 -0.1525 0.0001 0 -0.4422 world Cart" /> -->

        <!-- The cart is positioned at 0,0,0.1678 in the world coordinate-->
</launch>
